@import url("https://fonts.googleapis.com/css?family=Vollkorn&display=swap");

html,
body {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
}

body {
  font-family: "Vollkorn", serif;
  font-weight: 500;
  background-image: url("actuallyEditedGif.gif");
  background-size: cover;
  height: 100vh;
  padding: 0;
  margin: 0;
}

section {
  background-color: rgba(245, 245, 220, 0.075);
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 536px;
  margin: auto;
  position: relative;
}

.title {
  background-color: rgba(0, 0, 0, 0.014);
  color: aliceblue;
  text-align: center;
  font-size: 60px;
  width: fit-content;
  height: fit-content;
  margin-top: 200px;
  background-size: 100%;
  opacity: 100;
  animation: slideUp 1s cubic-bezier(0.19, 1, 0.3, 1) 0.2s forwards;
}