@layout('layouts.main')

@section('extrascripts')
{{ script('https://d3js.org/d3.v5.js') }}
{{ script('data-viz/visual') }}
@endsection

@section('title')
reflection
@endsection

@section('content')

  <div id="chart"></div>
  
@endsection






