@layout('layouts.Main')

@section('title')
FIVE WORDS
{{--  showing up in the tab  --}}
@endsection

@section('content')

<section>
<div class="title" href="/"> FIVE WORDS </div>
<div class="subtitle">
  <p>Document your day, your week, your life. You'll get the picture!
  </p>
</div>
<div class="buttonrow">
  <a href="/signup"><button class="signUpButton"> Sign Up!</button></a>
  <a href="/login"><button class="logInButton"> Log In!</button></a>
</div>
</section>

@endsection