<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>5 W's</title>
    {{ style('public/index') }}
</head>
<body class="body">
    <section>
        <div class="fullscreen">
       
        <div class="title"> 5 W's </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus magnam aut reiciendis, fuga voluptatibus adipisci distinctio alias exercitationem voluptas minima officiis, nihil atque vitae sit et nisi odio error animi.</p>
    </div>
    </section>
    
</body>
</html>