<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up for 5 W's</title>
    {{ style('public/css/index') }}
</head>
<body>
    <section>

    </section>
</body>
</html>