<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ style('styleMain') }}

    @!section('extrascripts')

    <title>
        @!section('title')
        {{--  need to declare a title on every page we create. title will be the thing that shows up in the tab  --}}
    </title>
</head>
{{--  ________________________________________________________  --}}
<body>
    @!section('content')
</body>
</html>